@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&family=Miriam+Libre&display=swap');

body {
    background-color: #292A34;
    background-image: url(../images/BAUM.svg);
    background-repeat: no-repeat;
    background-position: center;
}

#body {
    margin: auto;
    width: 900px;
    color: #f6f9f2;
}

#header {
    text-align: left;
    font-family: 'Lexend Deca', 'Lucida Console', 'Courier New', sans-serif;
    font-weight: 600;
    border-bottom: solid #9E3F08 6px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.name {
    color: #F1740A;
}

.name,
.navbar {
    display: inline-block;
    vertical-align: middle;
    margin: 8px;
    text-decoration: none;
}

.links {
    list-style-type: none;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    float: right;
    font-size: 20px;
    font-weight: 400;
  }
  
li.link {
    float: left;
}

li a {
    display: block;
    color: #f6f9f2;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

.content {
    margin: 10px;
    padding: 0px;
    font-size: 32px;
    font-family: 'Miriam Libre', sans-serif;
}

.text {
    margin: 0px;
}