@font-face {
    font-family: 'Genshin';
    src: url("font.ttf");
}

body {
    margin: 0px;
    /* margin-top: 50px; */
    font-family: 'Genshin';
    font-size: 24px;
}

#background {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(background.png);
    background-position: center;
    opacity: 0.15;
    z-index: -9999;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    margin: 50px;
    /* position: fixed */
}

#search-bar {
    font-family: 'Genshin';
    font-size: 24px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid black;
}

#stickers-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sticker-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 24px;
    /* border: 2px solid black; */
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.075);
}

.sticker-image {
    width: 200px;
    height: 200px;
}

.sticker-character {
    margin: 0px;
    margin-top: 12px;
    font-size: 16px;
}

.sticker-name {
    margin: 0px;
    /* margin-top: 12px; */
}